li{
    list-style: circle;
}

.list{
    list-style: square;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(77, 77, 170)
}
ul{
    font-style: italic;
}

.btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.temaclaro{
    color: black;
    background: white;
}

.temaoscuro{
    color: white;
    background: black;
}
